# Globals
*.log
package-lock.json
yarn.lock

# Libraries
node_modules

# System
.DS_Store

# Editors
.idea
.vscode

# Folders
.cache
.secrets
/ts
/esm
/commonjs
/coverage
/.out
/docs/public
/.cache
/for-docs